/* .feed {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    margin: 0;
    padding: 0;
  }
  
  .game {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
  }
  
  .iframe {
    width: 100vw;
    height: 100vh;
    border: none;
    display: block;
  }
   */